**/node_modules/*
**/npm-debug.log
**/data/**/**/*.pdf
**/data/**/**/*.docx
**/data/**/**/*.csv
**/data/**/**/*.txt
**/data/**/**/*.json
**/uploads/*.docx
**/uploads/*.txt
*.pyc
*.env
**/**/recreate_data.py
recreate_data.sh
all_resumes.txt
