**/node_modules/*
**/npm-debug.log
**/data/**/**/*.pdf
**/data/**/**/*.docx
**/data/**/**/*.csv
**/data/**/**/*.txt
**/data/**/**/*.json
**/uploads/*.docx
**/uploads/*.txt
*geckodriver.log
*scraped_resume_links.txt
*.pyc
*.env
.vscode/settings.json
*.DS_Store
*~
