html
    head
        title=title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://code.jquery.com/jquery-3.1.1.min.js')
        script(src='/js/Client.js')
    body
        div(class='container-fluid')
            a(class='home-button', href='#', onclick='loadTraining()')='/training'
            a(class='prev-button', href='#', onclick='fetchDoc("' + parentId + '", "' + (Number(id) - 1) + '")')='< prev'
            a(class='next-button', href='#', onclick='fetchDoc("' + parentId + '", "' + (Number(id) + 1) + '")')='next >'
            div(class='center')
                div(class='title')
                    p=title
            div(class='left')
                each sent, index in sents
                    - var sentence = sent.sentence.join(' ')
                    - var labels = ['', 'EDUCATION', 'WORK EXPERIENCE', 'PROJECT/SKILL', 'OTHERS']
                    div(class='parent')
                        div(class='left-child')=sentence
                        div(class='right-child')
                            select(onchange='updateLabel(this, "' + parentId + '", "' + id + '", "' + index + '")')
                                each item in labels
                                    - var selected = true ? sent.label == item : false
                                    option(value=item, selected=selected)=item
