html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    body
        h2=error.status
        p=error.message || 'Ping Pong! Something unexpected happened :('