html
    head
        title=title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='/js/Client.js')
    body
        div(class='container-fluid')
            div(class='center')
                div(class='title')
                    p=title
                div(class='navigation')
                    div(class='upload')
                        div(class='upload-resume')
                            div(class='no-display')
                                input(id='resume-file', class='no-display', type='file', accept='application/vnd.openxmlformats-officedocument.wordprocessingml.document', name='userFile', onchange='showFilePicked("' + 'resume-file' + '","' + 'resume-label' + '")')
                            button(class='button_choose_file', type='button', onclick='showFilePicker("' + 'resume-file' + '")')='Choose Resume'
                            div()
                                label(id='resume-label', class='upload-label')='.docx only'
                        div(class='upload-job')
                            div(class='no-display')
                                input(id='job-file', class='no-display', type='file', accept='text/plain', name='userFile', onchange='showFilePicked("' + 'job-file' + '","' + 'job-label' + '")')
                            button(class='button_choose_file', type='button', onclick='showFilePicker("' + 'job-file' + '")')='Choose Job'
                            div()
                                label(id='job-label', class='upload-label')='.txt only'
                    div()
                        button(id='analyze_button' class='button_start_analyzing', type='button', onclick='analyzeFiles()')='START ANALYZING'
                    div(id='document', class='document')